.tb-agenda {
  height: 100px;
}
.foto-karyawan {
  width: 100px;
  height: 120px;
}
.landing {
  margin-top: 0;
  background-color: #fff;
  border: none;
  padding: 0 0;
  padding-bottom: 0px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.td1 {
  width: 3%;
  text-align: center;
}
.td2 {
  width: 5%;
}
.td3 {
  width: 15%;
}
.td4 {
  width: 8%;
}
.td5 {
  width: 15%;
}
.td6 {
  width: 15%;
}
.rangkuman {
  background-color: #fff;
  font-size: 0.9rem;
  font-weight: 500;
  position: fixed;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1);
  border: solid 2px #ddd;
  margin-bottom: 10px;
}

.date-text {
  margin-left: 10px;
  float: right;
  position: relative;
  height: 40px;
  display: block;
}

.jam-text {
  margin-left: 10px;
  float: left;
  position: relative;
  height: 40px;
  display: block;
}

.wrap {
  display: block;

  margin: auto;
}
.trElementEmulation li {
  list-style: none;
  float: left;
  width: 100%;

  border: 1px solid #eee;
}
.train-schedule-info {
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.08);
  border: solid 1px #ddd;
  padding: 7px 10px;
  margin-top: 0px;
}

.rangkuman-fixed {
  width: 94%;
  height: auto;
  top: 44%;
  background: #fff;
  z-index: 4;
  -webkit-box-shadow: 0 3px 4px -2px #aaa !important;
  -moz-box-shadow: 0 3px 4px -2px #aaa !important;
  box-shadow: 0 3px 4px -2px #aaa !important;
}
table {
  width: 100%;
  border-collapse: collapse;
}
/* Zebra striping */
tr:nth-of-type(odd) {
  background: #eee;
}
th {
  background: #063a69;
  color: white;
  font-weight: bold;
  font-family: "Calibri";
  font-size: 20px;
}
td,
th {
  padding: 5px;
  border: 1px solid #ccc;
  text-align: left;
}
.img2 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 5px;
  padding-top: 5px;
  width: 29%;
}

.list-wrpaaer {
  height: 300px;
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 40px;
  background-color: #063a69;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  text-align: center;
}

.img2 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.vd_profil {
  width: 45%;
  height: auto;
}

@media only screen and (max-width: 760px), (min-device-width: 768px) and (max-device-width: 1024px) {
  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 20px;
    background-color: #063a69;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    text-align: center;
  }

  .train-schedule-info {
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.08);
    border: solid 1px #ddd;
    padding: 10px 10px;
    font-size: 12px;
    margin-top: 5px;
    margin-bottom: 5px;
  }

  /* Force table to not be like tables anymore */
  table,
  thead,
  tbody,
  th,
  td,
  tr {
    display: block;
  }

  .list-wrpaaer {
    height: 320px;
    padding: 10px 15px;
  }
  .landing {
    margin-top: 0;
    background-color: #fff;
    border: none;
    padding: 55px 0;
    padding-bottom: 0px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }

  .rangkuman-fixed {
    top: 45%;
    height: auto;
    padding: 10px 15px;
    background: #fff;
    z-index: 4;
    -webkit-box-shadow: 0 3px 4px -2px #aaa !important;
    -moz-box-shadow: 0 3px 4px -2px #aaa !important;
    box-shadow: 0 3px 4px -2px #aaa !important;
  }

  .rangkuman {
    background-color: #fff;
    font-size: 0.9rem;
    font-weight: 500;
    position: fixed;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1);
    border: solid 2px #ddd;
  }
  /* Hide table headers (but not display: none;, for accessibility) */
  thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  tr {
    border: 1px solid #1b1a1a;
  }

  td {
    /* Behave  like a "row" */
    border: none;
    border-bottom: 1px solid #e0dddd;
    font-size: 12px;
    font-weight: 500;
    position: relative;
    padding-left: 25%;
  }

  td:before {
    /* Now like a table header */
    position: absolute;
    /* Top/left values mimic padding */
    top: 6px;
    left: 6px;
    width: 50%;
    padding-right: 10px;
    white-space: nowrap;
  }
  .foto-karyawan {
    width: 0px;
    height: 0px;
    margin-left: 40px;
  }
  .navbar {
    padding: 5px 5px 5px 5px;
  }

  .vd_profil {
    width: 100%;
    height: auto;
    padding: 0px 15px 0px 15px;
  }

  .img2 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    
  }
  .td1 {
    width: 100%;
    text-align: left;
  }
  .td2 {
    width: 100%;
  }
  .td3 {
    width: 100%;
  }
  .td4 {
    width: 100%;
  }
  .td5 {
    width: 100%;
  }
  .td6 {
    width: 100%;
  }
  .tb-agenda {
    height: auto;
  }
  .navbar-brand {
    font-size: 10px;
  }

  .navbar-brand {
    box-shadow: none;
    text-shadow: none;
  }
  /*
Label the data
*/
  td:nth-of-type(1):before {
    content: "No";
  }
  td:nth-of-type(2):before {
    content: "Tanggal";
  }
  td:nth-of-type(3):before {
    content: "Acara";
  }
  td:nth-of-type(4):before {
    content: "Waktu";
  }

  td:nth-of-type(5):before {
    content: "Tempat";
  }
  td:nth-of-type(6):before {
    content: "Keterangan";
  }
}
.loader {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: url("https://ulapeg.setjen.kemendagri.go.id/assets/images/loading.gif") 50% 50% no-repeat rgb(249, 249, 249);
  opacity: 0.8;
}

